<%= form_with(model: analysis_request_file, local: true) do |form| %>
  <% if analysis_request_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analysis_request_file.errors.count, "error") %> prohibited this analysis_request_file from being saved:</h2>

      <ul>
      <% analysis_request_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :analysis_request_id %>
    <%= form.text_field :analysis_request_id, id: :analysis_request_file_analysis_request_id %>
  </div>

  <div class="field">
    <%= form.label :inspection_file_id %>
    <%= form.text_field :inspection_file_id, id: :analysis_request_file_inspection_file_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
