<p id="notice"><%= notice %></p>

<p>
  <strong>Analysis request:</strong>
  <%= @analysis_request_file.analysis_request %>
</p>

<p>
  <strong>Inspection file:</strong>
  <%= @analysis_request_file.inspection_file %>
</p>

<%= link_to 'Edit', edit_analysis_request_file_path(@analysis_request_file) %> |
<%= link_to 'Back', analysis_request_files_path %>
