<%= form_with(model: equipment, local: true, html: { class: 'form-horizontal' }) do |form| %>
  <% if equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>
      <ul>
      <% equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :site_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.collection_select :site_id, Site.all, :id, :name, { prompt: "Select site" }, { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
