<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2><%= @equipment %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Equipment', equipment_index_path %>
      </li>
      <li class="active">
        <strong><%= @equipment.to_param %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Equipment details</h5>
          <div class="ibox-tools">
            <%= link_to edit_equipment_path(@equipment), class: 'btn btn-primary btn-xs' do %>
            <i class="fa fa-pencil"></i> Edit
            <% end %>
          </div>
        </div>
        <div class="ibox-content">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd><%= @equipment.name %></dd>
            <dt>Site</dt>
            <dd><%= link_to @equipment.site, @equipment.site %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Inspect</h5>
        </div>
        <div class="ibox-content">
          <h4>Inspect now?</h4>
          <%= link_to new_inspection_path(equipment_id: @equipment), class: 'btn btn-primary btn-block btn-lg' do %>
          <i class="fa fa-check"></i> Inspect
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Inspection History</h5>
        </div>
        <div class="ibox-content">
          <%= render 'inspections/inspections', inspections: @equipment.inspections %>
        </div>
      </div>
    </div>
  </div>
</div>
