<%= form_with(model: analysis_response, local: true) do |form| %>
  <% if analysis_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analysis_response.errors.count, "error") %> prohibited this analysis_response from being saved:</h2>

      <ul>
      <% analysis_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :analysis_request_id %>
    <%= form.text_field :analysis_request_id, id: :analysis_response_analysis_request_id %>
  </div>

  <div class="field">
    <%= form.label :response_data %>
    <%= form.text_field :response_data, id: :analysis_response_response_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
