<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <h2>Analysis: <%= @analysis %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Analyses', analyses_path %>
      </li>
      <li class="active">
        <strong><%= @analysis %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Analysis Details</h5>
        </div>
        <div class="ibox-content">
          <dl class="dl-horizontal">
            <dt>Key</dt>
            <dd><%= @analysis %></dd>
            <dt>Equipment Count</dt>
            <dd><%= @analysis.analysis_requests.count %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Report</h5>
        </div>
        <div class="ibox-content">
          <h4>Report</h4>
          <%= link_to report_path(@analysis), class: 'btn btn-primary btn-block btn-lg' do %>
          <i class="fa fa-check"></i> View Report
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Analysis Requests</h5>
        </div>
        <div class="ibox-content">
          <%= render 'analysis_requests/analysis_requests', analysis_requests: @analysis.analysis_requests %>
        </div>
      </div>
    </div>
  </div>
</div>
