<%= form_with(model: [@site, scan_protocol], local: true, html: { class: 'form-horizontal' }) do |form| %>

<% if scan_protocol.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(scan_protocol.errors.count, "error") %> prohibited this scan_protocol from being saved:</h2>

  <ul>
    <% scan_protocol.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<hr/>

<fieldset>
  <div class="form-group">
    <%= form.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :site_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.collection_select :site_id, current_account.sites.all, :id, :name, {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :analysis_options_file, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.file_field :analysis_options_file %><% if scan_protocol.try(:analysis_options_file) %><span><%= scan_protocol.analysis_options_file.original_filename %></span><% end %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :specifications_file, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.file_field :specifications_file %><% if scan_protocol.try(:specifications_file) %><span><%= scan_protocol.specifications_file.original_filename %></span><% end %>
    </div>
  </div>
</fieldset>

<hr/>

<fieldset>
  <div class="form-group">
    <%= form.label :phantom_module_files, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.fields_for :phantom_module_files do |builder| %>
        <%= render 'phantom_module_file_fields', f: builder %>
      <% end %>
      <div class="links">
      <%= link_to_add_association form, :phantom_module_files, class: 'btn btn-default' do %>
        <i class="fa fa-plus"></i> Add phantom module file
      <% end %>
    </div>
  </div>
</fieldset>

<hr/>

<fieldset>
  <div class="form-group">
    <%= form.label :matchers, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.fields_for :matchers do |builder| %>
        <%= render 'matcher_fields', f: builder %>
      <% end %>
      <div class="links">
      <%= link_to_add_association form, :matchers, class: 'btn btn-default' do %>
        <i class="fa fa-plus"></i> Add matcher
      <% end %>
    </div>
  </div>
</fieldset>

<fieldset>
  <hr/>
  <div class="form-group">
    <div class="col-sm-12 text-right">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
</fieldset>
<% end %>
