<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Preview</th>
        <th>Status</th>
        <th>Filename</th>
        <th>Mime Type</th>
        <th>Modality</th>
        <th>Scan Protocol</th>
        <th>Scan Series</th>
        <th>Equipment</th>
        <th style="text-align: right">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% inspection_files.collect(&:decorate).each do |inspection_file| %>
      <tr>
        <td>
          <% if !inspection_file.preview.blank? &&  %>
          <%= image_tag inspection_file.preview.file_url(:tiny) %>
          <% else %>
          n/a
          <% end %>
        </td>
        <td>
          <%= inspection_file.status %>
        </td>
        <td>
          <span class="text-overflow-dynamic-container">
            <span class="text-overflow-dynamic-ellipsis">
              <% if inspection_file.file %>
              <%= inspection_file.file.original_filename %>
              <% else %>
              <span class="text-danger">No file</span>
              <% end %>
            </span>
          </span>
        </td>
        <td>
          <%= inspection_file.try(:mime_type).blank? ? 'n/a' : inspection_file.mime_type %>
        </td>
        <td>
          <%= inspection_file.try(:modality).blank? ? 'n/a' :  inspection_file.modality %>
        </td>
        <td>
          <% if inspection_file.scan_protocol.blank? %>n/a<% else %><%= link_to inspection_file.scan_protocol, inspection_file.scan_protocol %><% end %>
        </td>
        <td>
          <% if inspection_file.scan_series.blank? %>n/a<% else %><%= link_to inspection_file.scan_series, inspection_file.scan_series %><% end %>
        </td>
        <td>
          <%= link_to inspection_file.equipment, inspection_file.equipment %>
        </td>
        <td>
          <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
              <li><%= link_to 'Show Info', inspection_file %></li>
              <li><%= link_to 'Download', inspection_file.file_url, download: inspection_file.file.original_filename %></li>
              <li><%= link_to 'Create Protocol', new_site_scan_protocol_path(inspection_file.inspection.site, inspection_file_id: inspection_file.id) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Delete', inspection_file, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
