<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <h2><strong><%= @inspection_file.file.original_filename %></strong> (<%= @inspection_file.modality %>)</h2>
    <ol class="breadcrumb">
      <li>
        Inspections
      </li>
      <li>
        <%= link_to @inspection_file.inspection, @inspection_file.inspection %>
      </li>
      <li>
        Files
      </li>
      <li class="active">
        <strong><%= link_to @inspection_file, @inspection_file %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Preview</h5>
        </div>
        <div class="ibox-content">
          <p>n/a</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Scan Protocol (Matchers)</h5>
        </div>
        <div class="ibox-content">
          <h3><%= @inspection_file.scan_protocol %></h3>
          <div class="table-responsive">
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <th>Tag</th>
                  <th>Matcher</th>
                </tr>
              </thead>
              <tbody>
                <% if @inspection_file.scan_protocol %>
                  <% @inspection_file.scan_protocol.matchers.each do |m| %>
                  <tr>
                    <td><%= m.tag %></td>
                    <td><%= m %></td>
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Scan Header</h5>
        </div>
        <div class="ibox-content">
          <p><strong>Modality</strong> <%= @inspection_file.try(:modality) %></p>
          <div class="table-responsive">
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <th>Tag</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <% @inspection_file.try(:scan_header).try(:each) do |k, v| %>
                <tr>
                  <td><%= k %></td>
                  <td><%= v %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
