<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2><%= @site %></h2>
    <ol class="breadcrumb">
      <li>Manage</li>
      <li>
        <%= link_to 'Sites', sites_path %>
      </li>
      <li class="active">
        <strong><%= @site %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Site Details</h5>
          <div class="ibox-tools">
            <%= link_to edit_site_path(@site), class: 'btn btn-primary btn-xs' do %>
            <i class="fa fa-pencil"></i> Edit
            <% end %>
          </div>
        </div>
        <div class="ibox-content">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd><%= @site.name %></dd>
            <dt>Equipment Count</dt>
            <dd><%= @site.equipment.count %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Equipment for this site</h5>
          <div class="ibox-tools">
            <%= link_to 'Create equipment', new_equipment_path(site_id: @site), class: 'btn btn-primary btn-xs' %>
          </div>
        </div>
        <div class="ibox-content">
          <%= render 'equipment/equipment_index', equipment: @site.equipment %>
        </div>
      </div>
    </div>
  </div>
</div>
