<% if inspections && inspections.count > 0 %>
<div class="table-responsive">
  <table class="table table-hover issue-tracker">
    <thead>
      <tr>
        <th>Status</th>
        <th>Nr.</th>
        <th>Subject</th>
        <th>Equipment</th>
        <th>Performed at</th>
        <th>Performed by</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      <% inspections.decorate.each do |inspection| %>
      <tr>
        <td>
          <span class="label label-warning">Unfinalized</span>
        </td>
        <td>
          <%= link_to inspection.friendly_name, inspection %>
        </td>
        <td>
          TODO
        </td>
        <td>
          <%= link_to inspection.equipment, inspection.equipment %>
        </td>
        <td>
          <%= inspection.performed_at_date %>
        </td>
        <td>
          Bjarki
        </td>
        <td>
          <%= inspection.inspection_files.count %>
        </td>
        <td class="project-actions">
          <%= link_to edit_inspection_path(inspection), class: 'btn btn-white btn-xs' do %>
          <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to inspection, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
          <i class="fa fa-times"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div>
  <p>No inspections yet.</p>
</div>
<% end %>
