<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Equipment profiles</h2>
    <ol class="breadcrumb">
      <li>
        Manage
      </li>
      <li class="active">
        <strong>Equipment profiles</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Equipment profiles</h5>
          <div class="ibox-tools">
            <%= link_to 'Create Profile', new_equipment_profile_path, class: 'btn btn-primary btn-xs' %>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Total Dicom Files</th>
                <th>Dicom Tags</th>
              </tr>
            </thead>

            <tbody>
              <% @equipment_profiles.each do |equipment_profile| %>
              <tr>
                <td><%= link_to equipment_profile, equipment_profile %></td>
                <td class="equipment_profile-inspection_files"><%= equipment_profile.inspection_files.count %></td>
                <td class="equipment_profile-dicom_tags"><code><%= equipment_profile.profile %></code></td>
                <td class="project-actions">
                  <%= link_to edit_equipment_profile_path(equipment_profile), class: 'btn btn-white btn-sm' do %>
                  <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to equipment_profile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
                  <i class="fa fa-times"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
