<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2><%= @equipment_profile %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Equipment Profiles', equipment_profiles_path %>
      </li>
      <li class="active">
        <strong><%= @equipment_profile %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Dicom Profile Details</h5>
          <div class="ibox-tools">
            <%= link_to edit_equipment_profile_path(@equipment_profile), class: 'btn btn-primary btn-xs' do %>
            <i class="fa fa-pencil"></i> Edit
            <% end %>
          </div>
        </div>
        <div class="ibox-content">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd><%= @equipment_profile.name %></dd>
            <dt>Profile Data</dt>
            <dd><pre><%= @equipment_profile.profile %></pre></dd>
            <dt>File Count</dt>
            <dd><%= @equipment_profile.inspection_files.count %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Matched Dicom Files (Max: 100)</h5>
        </div>
        <div class="ibox-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Modality</th>
                <th>Inspection</th>
                <th>Inspection Date</th>
              </tr>
            </thead>

            <tbody>
              <% @equipment_profile.inspection_files.limit(100).order(inspection_id: :desc).includes(:inspection).each do |inspection_file| %>
              <tr>
                <td class="project-title"><%= link_to inspection_file, inspection_file %></td>
                <td><%= inspection_file.modality %></td>
                <td><%= link_to inspection_file.inspection, inspection_file.inspection %></td>
                <td><%= inspection_file.inspection.decorate.performed_at_date %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
