<div class="row wrapper border-bottom white-bg page-heading article">
  <div class="col-sm-12">
    <h2>Report - <%= @analysis.equipment %> (Inspected at <%= @analysis.inspection.performed_at.to_date %>)</h2>
    <ol class="breadcrumb">
      <li>
        Reports
      </li>
      <li class="active">
        <strong><%= link_to @analysis.inspection, @analysis.inspection %></strong>
      </li>
    </ol>
  </div>
</div>

<% @analysis.analysis_requests.each do |analysis| %>
<div class="wrapper wrapper-content article">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="ibox">
        <div class="ibox-content">
          <div class="text-center article-title">
            <span class="text-muted">Inspected at <strong><%= @analysis.inspection.decorate.performed_at_date %></strong></span>
            <h1><%= @analysis.equipment %></h1>
            <h2>MagphanRT Analysis</h2>
          </div>
          <div class="tabs-container">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> This is tab</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">This is second tab</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                  <% analysis.response_data["results"].each do |result| %>
                  <div class="row">
                    <div class="hr-line-dashed"></div>
                    <div class="col-sm-12">
                      <%= render "analysis_results/#{result["type"]}", result: result %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, unde error similique, et facilis odit impedit quod adipisci itaque consequatur voluptatibus totam neque laudantium aliquam in, possimus voluptatem recusandae mollitia.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
