<div class="row wrapper border-bottom white-bg page-heading article">
  <div class="col-sm-12">
    <h2>Report for <strong><%= @report.equipment %></strong></h2>
    <ol class="breadcrumb">
      <li>
        Reports
      </li>
      <li class="active">
        <strong><%= @report %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content article">
  <div class="ibox">
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-2">
          <ul data-spy="affix" data-offset-top="190" style="list-style: none; margin-left: 0; padding-left: 0">
            <% @report.groups.each do |group| %>
              <li style="margin: 10px 0; padding: 10px 5px"><a href="#group-<%= group.id %>"><%= group.label %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-10">
          <div class="text-center article-title">
            <span class="text-muted"><i class="fa fa-clock-o"></i> <%= @report.created_at %></span>
            <h1>Report for <%= @report.equipment %></h1>
            <% @report.groups.each do |group| %>
              <h2 id="group-<%= group.id %>"><%= group.label %></h2>
              <% group.results.each do |result| %>
                <%= render 'analysis_results/analysis_result', analysis_result: result %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
