<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Heliumqa</title>
  <%= csrf_meta_tags %>

  <!-- Vendor css styles -->
  <link href="//unpkg.com/uppy@0.22.0/dist/uppy.min.css" rel="stylesheet" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

  <!-- Main css styles -->
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application' %>

  <!-- Vendor javascript files -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="//unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
  <script src="//unpkg.com/whatwg-fetch@2.0.3/fetch.js"></script>
  <script src="//unpkg.com/uppy@0.22.0/dist/uppy.min.js"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/latest.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body>

  <!-- Wrapper-->
  <div id="wrapper">

    <!-- Navigation -->
    <%= render 'layouts/navigation' %>

    <!-- Page wrapper -->
    <div id="page-wrapper" class="gray-bg">

      <!-- Page wrapper -->
      <%= render 'layouts/topnavbar' %>

      <!-- Application notifications -->
      <%= render 'layouts/notifications' %>

      <!-- Main view  -->
      <%= yield %>

      <!-- Footer -->
      <%= render 'layouts/footer' %>

    </div>
    <!-- End page wrapper-->

  </div>
  <!-- End wrapper-->

  <script>
    // Make sure ALL server requests include the CSRF token
    $(document).ready(function() {
      window.axios.defaults.headers.common = {
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-TOKEN' : document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      }
    })
  </script>
</body>
</html>
